body
  font: 14px/1.5 "Arial", sans-serif

radius-value = 10px
height-value = 5px
width-value = height-value * 3

.header
  height: height-value
  width: width-value

.container
  .logo
    border-radius: radius-value
  .title
    color: lighten(blue, 2)
  .paragraph
    color: darken(green, 5)

.image
  border-radius: radius-value