body {
  font: 14px/1.5 "Comic Sans", sans-serif;
}
.header {
  height: 5px;
  width: 15px;
}
.container .logo {
  border-radius: 10px;
}
.container .title {
  color: #0a0aff;
}
.container .paragraph {
  color: #006700;
}
.image {
  border-radius: 10px;
}
